.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .main {
    width: 100%;
    max-width: 1208px;
    display: flex;
    justify-content: space-between;
    // padding: 40px;
    // flex-direction: column;

    .card {
      margin-bottom: 30px;
      box-shadow: 0 1px 9px #ccc;
      background: #f5f5f5;
      border-color: #ccc;
      border-style: solid;
      border-radius: 0;
      border-width: 1px;
      margin-top: 30px;
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;

      .header {
        border-bottom: solid 1px #ccc;
        padding: 20px 65px;
        background-color: #fff;

        h1 {
          color: #333;
          font-family: "Publico Banner Web", Georgia, Garamond, serif;
          font-size: 1.5625rem;
          line-height: 1.92em;
          margin: 0;
          padding: 0;
        }
      }

      .contentContainer {
        padding: 30px 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .description {
          padding: 0 0 11px 0;
          cursor: default;
          color: #333;
          font-weight: 600;
        }

        .quoteValue {
          font-size: 2rem;
          padding: 30px 30px;
          font-weight: 600;
        }

        .contractNameContainer {
          padding: 30px 0px;

          .contractName {
            font-size: 1.2rem;
            font-weight: 600;
            padding: 10px 0px;
          }
        }
      }
    }
  }
}
